<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <meta name="description" content="brincos, colares e  presilhas artesanais" />
    <link rel="stylesheet" href="/layout/navbar.css" type="text/css" />
    <link rel="icon" href="/images/ARGILOSAS.JPG" />
</head>
<body>
    <nav>
    <div class="logo">
        <img src="/images/Logo.png" alt="Logo">
        <img class="argilosas" src="/images/argilosa-sem-bg.png" alt="">
    </div>
    <ul class="cabec">
        <li>
        <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <a href="#" class="na-link">
        <circle cx="18" cy="18" r="12" fill="#C4C4C4" />
        </a>
        </svg>
        </li>
        <li class="nav">
            <a href="#" class="na-link">Produtos </a>
        </li>
        <li>
        <svg class="ball" width="36" height="36" viewBox="0 0 36 36" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <a href="/layout/us.html">
            <circle cx="18" cy="18" r="12" fill="#C4C4C4" />
        </a>
        </svg>
        </li>
        <li class="nav">
            <a href="/layout/us.html" class="na-link">Nós</a>
        </li>
        <svg class="ball" width="36" height="36" viewBox="0 0 36 36" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <a href="#" class="na-link">
            <circle cx="18" cy="18" r="12" fill="#C4C4C4" />
        </a>
        </svg>
        </li>
        <li class="nav">
            <a href="" class="na-link esp">Vocês &lt3</a>
        </li>
        <li>
        <svg class="ball" width="36" height="36" viewBox="0 0 36 36" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <a href="/layout/contact.html">
            <circle cx="18" cy="18" r="12" fill="#C4C4C4" />
        </a>
        </svg>
    </li>
        <li class="nav">
            <a href="/layout/contact.html" class="na-link">Contato</a>
        </li>
    </ul>
    <ul class="contato">
        <li><img src="/images/whatsapp.png" alt="wpp" class="wpp"></li>
        <li>(12) 98116-1238</li>
        <li><img src="/images/instagram.png" alt="ig" class="ig"></li>
        <li>argilosas_</li>
    </ul>
    <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
</div>
</nav>
</body>
</html>