:root{
    --dark:#242D2F;
    --ligt:#4A5759;
    --price:#B4B1FF;
    --prod:#757777;
}

@font-face{
    font-family: PopLight;
    src: url(/fonts/Poppins-Light.ttf)
}

@font-face{
    font-family: PopRegular;
    src: url(/fonts/Poppins-Medium.ttf)
}

@font-face{
    font-family: PopBold;
    src: url(/fonts/Poppins-Bold.ttf)
}

html{
    box-sizing: border-box;
    font-family: PopRegular
}

body{
    background-color: white;
    margin: 0px 50px 0px 50px;
    line-height: 1.4;
    background-image: url("/images/Ellipse-1.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

img{
    max-width:100%;
}

/* Container */




.container{
    display:grid;
    grid-gap:5px;
    grid-template-areas:'intro''corpo';
}
 /* intro */
.intro{
    grid-area: intro;
    min-height:8vh;
}

.intro h2{
    color:var(--dark);
    font-family: PopBold;
    font-size: 1.05rem;
}

/* corpo */
.corpo{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-gap:15px;
}

.one{
    display: flex;
}

.menina{
    height: 700px;
    margin-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top:0.5vh;
}

.two{
    display:grid;
    grid-template-areas: 'cabec''lista-produtos';
    grid-gap:5px;
}


.cabec{
    grid-area:cabec;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.cabec h1{
    color: var(--dark);
    font-size: 2rem;
    font-family: PopBold;
}

input[type="text"]{
    width:70%;
    border-radius: 24px;
    background: #e7e5fd;
    opacity: 0.95;
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
}

button{
    cursor:pointer;
}

.lista-produtos{
    grid-area: lista-produtos;
    display:grid;
    grid-template-columns:repeat(auto-fit,200px);
    grid-gap:25px;
    align-items: center;
    justify-content: space-around;
}

.produto{
    background: #FFFFFF;
    border: 3px solid #A0616A;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 3px #C4C4C4;
    border-radius: 30px;
    display:flex;
}

.lista-produtos a{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
}

.nome{
    margin:0;
    font-family: PopBold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 0.01em;
    color: #757777;
    padding:0.5rem 1rem 0.25rem 0rem;
}

.money{
    margin:0;
    font-family: PopBold;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #B4B1FF;
    text-align: right;
    padding:0.25rem 1rem 0.5rem 0rem;
}

.cut-image{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    border-radius: 20px;
    align-self: center;
}

@media(max-width:950px){
    .cabec h1{
        font-size: 1rem;
    }
    input[type="text"]{
        width:50%;
    }
}

@media(max-width:630px){

    .cabec{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .cabec h1{
        font-size: 3rem;
        text-align: center;
    }
    .intro{
        width: 100%;
    }
    .corpo{
        grid-template-columns: 1fr;
    }
    .menina{
        position: relative;
        z-index:-1;
        opacity:0.4;
        height: 0%;
    }
}

.cut-image:hover > .overlay {
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.2;
    border-radius:20px;
}

.cut-image:hover{
    transform: scale(1.6) translateY(10%);

} 

#brinco{
    animation: brinco 2s infinite linear alternate;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes brinco{
    from{
        transform: rotateY(-10deg) rotateX(0deg);
    }
    to{
        transform: rotateY(30deg) rotateX(30deg);
    }
}

#cabelo{
    animation: cabelo 3s infinite linear alternate;;
    transform-origin: left;
    transform-box: fill-box;
}

#Vector{
    transform: scale(1.05)
}

@keyframes cabelo{
    from{
        transform: rotateX(0deg) rotateY(10deg) scale(1);
    }
    to{
        transform: rotateX(-10deg) rotateY(-10deg) scale(1.05);
    }
}

#linhagrande{
    animation: linhagrande 8s infinite linear;
    -webkit-transform-origin-y: initial;
    transform-box: fill-box;
}

@keyframes linhagrande{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

#linhapequena{
    animation: linhapequena 8s infinite linear;
    -webkit-transform-origin-y: initial;
    transform-box: fill-box;
}

@keyframes linhapequena{
    from{
        transform: rotateY(0deg);
    }
    to{;
        transform: rotateY(-360deg);
    }
}

#rabodocao{
    animation: rabodocao 0.5s infinite linear alternate;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes rabodocao{
    from{
        transform: translateX(0%) translateY(0%);
    }
    to{
        transform: translateX(20%) translateY(30%);
    }
}
#orelha1,#orelha2{
    animation: orelha1 1s infinite linear alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes orelha1{
    from{
        transform: rotateZ(0deg) translateY(0%); 
    }
    to{
        transform: rotateZ(30deg) translateY(15%);
    }
}
