*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: PopLight;
    src: url(/fonts/Poppins-Light.ttf)
}

@font-face{
    font-family: PopRegular;
    src: url(/fonts/Poppins-Medium.ttf)
}

@font-face{
    font-family: PopBold;
    src: url(/fonts/Poppins-Bold.ttf)
}

.html,body{
    height:100%;
    width:100%;
    overflow: hidden;
    position: relative;
}

.header{
    font-family: PopRegular;
    color: black
    height:15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar{
    display:flex
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 100px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px;
    margin-right: 20px;
    list-style: none;
}

.marca{
    padding: 20px;
    position: relative;
    right:20px;
}

.na-link{
    text-decoration: none;
    color: #757777;
}

.nav{
    padding-left: 5px;
    margin-right: 20px;
}


.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wpp{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.wpp-number{
    font-size: 14px;
    font-weight: 550;
    margin-left: 12px;
    color: #757777

}

.wpp-img{
    height: 30px;
}

.ig{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ig-name{
    font-size: 16px;
    font-weight: 400;
    margin-left: 7px;
    text-decoration: none;
    color: #757777
}

.ig-img{
    height:25px;
}

a.logo{
    margin-right: 10px;
}

a.esp{
    color: #757777;
}

main{
    position:relative;
    height:85%;
    display: grid;
    grid-template-columns:  5% 0.5fr 2.5fr 0.5fr 2.5fr 1fr 5% ;
}

.text-side{
    grid-column: 3/4;
    margin-right: 50px;
}

.princ{
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: PopBold;
    font-weight: 500;
    font-size: 96px;
    line-height: 144px;    
    display: flex;
    align-items: center;
    color: #242D2F;
}

.sec{
    font-family: PopLight;
    font-size: 16px;
    color: #4A5759;
    align-self: end;
    padding-top: 20px;
}

button{
    display:flex;
    background: #E34D4F;
    border-radius: 54px;
    width: 200px;
    height: 45px;
    margin-top: 25px;
    border: #E34D4F;
    color:honeydew;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
}

.joia{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.bttn{
    color:white;
    align-self: center;
    padding-left: 20px;
    font-size: 15px;
    text-decoration: none;
}

button:hover{
    background: #E34D4F    
    border-radius: 54px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    opacity: 0.9;
}

svg.ball circle:hover{
    fill: grey;
    r:15;
    cursor:pointer
}

.ear-text .img-side{
    grid-column: 5/6;
    height: 500px;
}

svg{
    max-width: 557px;
    max-height: 557px;
}

#brinco{
    animation: brinco 3s infinite linear alternate;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes brinco{
    from{
        transform: rotateY(-10deg) rotateX(0deg);
    }
    to{
        transform: rotateY(40deg) rotateX(30deg);
    }
}

#cabelo{
    animation: cabelo 3s infinite linear alternate;;
    transform-origin: top;
    transform-box: fill-box;
}

#Vector{
    transform: scale(1.05)
}

@keyframes cabelo{
    from{
        transform: rotateX(0deg) rotateY(0deg) scale(1);
    }
    to{
        transform: rotateX(-15deg) rotateY(-15deg) scale(1.05);
    }
}

#blusa{
    animation: blusa 3s infinite linear alternate;;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes blusa{
    from{
        transform: skewX(0deg);
    }
    to{
        transform: skewX(2.5deg);
    }
}


#saia{
    animation: saia 3s infinite linear alternate;;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes saia{
    from{
        transform: skewX(0deg);
    }
    to{
        transform: skewX(2.6deg);
    }
}
.circle
{
    position: absolute;
    left: 45%;
    right: 0%;
    top: 15%;
    bottom: 0%;
    
}

#Group1{
    position:relative;
    grid-column: 6/7;
}

body {
    -webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
    animation: background 5s cubic-bezier(1,0,0,1) infinite;  
  }
  

@-webkit-keyframes backgrounad {
    0% {background-color:black;}
    25% {background-color: red;}
    50% {background-color: rgb(0, 255, 21);}
    75% {background-color: rgb(238, 255, 0);}
    100% {background-color:white;}
}

.header{
    background-color:FF9F0;
}