<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>argilosas</title>
    <meta name="description" content="brincos, colares e  presilhas artesanais" />
    <link rel="stylesheet" href="/layout/us-style.css" type="text/css" />
    <link rel="icon" href="/images/ARGILOSAS.JPG" />
</head>

<body>
    <nav>
        <div class="burguer">
        <div class="brg">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        </div>
        <div class="logo">
            <div class="img-logo">
                <a class="l1" href="/layout/index.html">
                    <div style="background-image:url(/images/Logo.png);" class="img-logo1 logo-img1"></div>
                </a>
            </div>
            <div class="text-logo">
                <a class="l2" href="/layout/index.html">
                    <div style="background-image:url(/images/argilosa.png);" class="img-logo2 logo-img2"></div>
                </a>
            </div>
        </div>
        <div class="nav-bar">
              <div class="links">
                <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <a href="/layout/product.html">
                        <circle cx="18" cy="18" r="12" fill="#C4C4C4"/> 
                    </a>
                    <a href="/layout/product.html">
                        <h4 class="text-link-1">Produtos</h4>
                    </a>
              </div>
              <div class="links">
                <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <a href="/layout/us.html">
                        <circle cx="18" cy="18" r="12" fill="#C4C4C4"/> 
                    </a>
                    <a href="/layout/us.html">
                        <h4 class="text-link-2">Nós</h4>
                    </a>
              </div>
              <div class="links">
                <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <a href="/layout/you.html">
                        <circle cx="18" cy="18" r="12" fill="#C4C4C4"/> 
                    </a>
                    <a href="/layout/you.html">
                        <h4 class="text-link-3">Vocês&lt3</h4>
                    </a>
              </div>
              <div class="links">
                <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <a href="/layout/contact.html">
                        <circle cx="18" cy="18" r="12" fill="#C4C4C4"/> 
                    </a>
                    <a href="/layout/contact.html">
                        <h4 class="text-link-1">Encomendas</h4>
                    </a>
              </div>
            </div>
        <div class="redes-sociais">
            <div class="wpp">
              <a href="" class="wpp-link"
                ><img src="/images/whatsapp.png" alt="wpp" class="wpp-img"
              /></a>
              <h1 class="wpp-number">(12) 98116-1238</h1>
            </div>
            <div class="ig">
              <a href="https://www.instagram.com/argilosas_/" target="_blank" class="ig-link"
                ><img src="/images/instagram.png" alt="ig" class="ig-img"
              /></a>
              <a href="https://www.instagram.com/argilosas_/" target="_blank" class="ig-name">
                <h1 class="ig-name">argilosas_</h1>
              </a>
            </div>
          </div>
    </nav>
    <section class="pag1">
    <div class="videos">
            <video class="vid1" src="/vid/video-bia3.mp4" controls autoplay muted loop > </video>
    </div>
    <div class="background">
        <div class="txt">
        <h1 class="title0">Acessórios de cerâmica plástica</h1>
        <p class="prg">✨Vocês conhecem a cerâmica plástica? Chega mais que eu te explico✨
        <p class="prg2">É um tipo de argila, composta majoritariamente de policloreto de vinila (PVC) 👩🏻‍🔬</p>
        <p class="prg3">O material não possui produto de origem animal na sua composição 🌱🐰</p>
        <p class="prg4">Além de resistente, o material também é muito leve 🍃</p>
        <button>
            <a href="#">NOSSOS PRODUTOS</a>
            <img src="/images/brinquinho.png" alt="">
        </button>
    <div class="imagens">
        <img src="/images/ear1.jpg" alt="PORRA">
        <img src="/images/ear2.jpg" alt="PORRA2">
        <img src="/images/ear3.jpg" alt="PORRA3">
    </div>
</div>
</div>
</section>
<section class="pag2">
    <div class="met1">
        <h1 class="pag-2">Processo de produção argilosas</h1>
        <p class="p2">Um pouco do nosso processo de criação e produção.<br> Depois disso, as peças vão para o forno para curar!</p>
        <video class="vid2" src="/vid/video-bia.mp4" controls autoplay muted loop ></video>
    </div>   
    <div class="background2">
        <div class="met2">
        <h2 class="cuidar-brinco">Como cuidar do seu brinco</h2>
        <ul>
            <li class="b1">A cerâmica plástica é muito leve, resistente e flexível.<br>Mas não tente ficar dobrando ela, ok?.</li>
            <li class="b2">Não deixe sua peça em contato direto com o sol por muito tempo.</li>
            <li class="b3">A cerâmica plástica é resistente a água, mas evite molhar seu brinco para que as partes metálica durem bastante</li>
        </ul>
        <video class="vid2" src="/vid/video-bia4.mp4" controls autoplay muted loop > </video>
    </div>
    </div>
</section>
</body>
    
</html>