<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>argilosas</title>
    <meta name="description" content="brincos, colares e  presilhas artesanais" />
    <link rel="stylesheet" href="/layout/you.css" type="text/css" />
    <link rel="icon" href="/images/ARGILOSAS.JPG" />
</head>

<body>
    <nav>
        <nav>
            <div class="burguer">
            <div class="brg">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            </div>
            <div class="logo">
                <div class="img-logo">
                    <a class="l1" href="/layout/index.html">
                        <div style="background-image:url(/images/Logo.png);" class="img-logo1 logo-img1"></div>
                    </a>
                </div>
                <div class="text-logo">
                    <a class="l2" href="/layout/index.html">
                        <div style="background-image:url(/images/argilosa.png);" class="img-logo2 logo-img2"></div>
                    </a>
                </div>
            </div>
            <div class="nav-bar">
                  <div class="links">
                    <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <a href="/layout/product.html">
                            <circle cx="18" cy="18" r="12" fill="#C4C4C4"/> 
                        </a>
                        <a href="/layout/product.html">
                            <h4 class="text-link-1">Produtos</h4>
                        </a>
                  </div>
                  <div class="links">
                    <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <a href="/layout/us.html">
                            <circle cx="18" cy="18" r="12" fill="#C4C4C4"/> 
                        </a>
                        <a href="/layout/us.html">
                            <h4 class="text-link-2">Nós</h4>
                        </a>
                  </div>
                  <div class="links">
                    <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <a href="/layout/you.html">
                            <circle cx="18" cy="18" r="12" fill="#C4C4C4"/> 
                        </a>
                        <a href="/layout/you.html">
                            <h4 class="text-link-3">Vocês&lt3</h4>
                        </a>
                  </div>
                  <div class="links">
                    <svg class="ball" width="36" height=36 viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <a href="/layout/contact.html">
                            <circle cx="18" cy="18" r="12" fill="#C4C4C4"/> 
                        </a>
                        <a href="/layout/contact.html">
                            <h4 class="text-link-1">Encomendas</h4>
                        </a>
                  </div>
                </div>
            <div class="redes-sociais">
                <div class="wpp">
                  <a href="" class="wpp-link"
                    ><img src="/images/whatsapp.png" alt="wpp" class="wpp-img"
                  /></a>
                  <h1 class="wpp-number">(12) 98116-1238</h1>
                </div>
                <div class="ig">
                  <a href="https://www.instagram.com/argilosas_/" target="_blank" class="ig-link"
                    ><img src="/images/instagram.png" alt="ig" class="ig-img"
                  /></a>
                  <a href="https://www.instagram.com/argilosas_/" target="_blank" class="ig-name">
                    <h1 class="ig-name">argilosas_</h1>
                  </a>
                </div>
              </div>
        </nav>
    </nav>
    <div class="container">
        <div class="intro">
            <h1 class="intro1">Amamos demais ver vocês com nossos produtos!</h1>
            <div class="intro2"></div>
        </div> 
        <div class="gallery">
            <div class="g1">
                <div class="foto1" style="background-image: url(/images/foto1.png);" class="png1" href""></div>
            </div>
            <div class="g2">
                <div class="g2-1">
                    <div class="foto2-1" style="background-image: url(/images/foto2-1.png);" class="png2-1"></div>
                </div>
                <div class="g2-2">
                    <div class="foto2-2" style="background-image: url(/images/foto2-2.png);" class="png2-2"></div>
                </div>
            </div>
            <div class="g3">
                <div class="foto3" style="background-image: url(/images/foto-3.png);" class="png3"></div>
            </div>
        </div>
    </div>

</body>

</html>